# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
.env
.venv/
venv/
*.egg-info/
*.egg
dist/
build/

# IDE
.idea/
.vscode/

# Тесты и покрытие
.pytest_cache/
.coverage
htmlcov/

# Логи и временные файлы
*.log
*.tmp
*.save
*_backup.*

# Зависимости
poetry.lock
pip-wheel-metadata/

# Системные файлы
.DS_Store
Thumbs.db

# Jupyter Notebook (опционально)
.ipynb_checkpoints/